body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
}

#app {
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
	width: 80%;
	max-width: 500px;
	height: 80vh;
	border: 1px solid black;
	border-radius: 20px;
	font-family: Arial, Helvetica, sans-serif;
}

#header-name {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 15%;
	background-color: #6785a3;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
}

#header-name h3 {
	font-size: 4.5vh;
	color: rgb(250, 250, 250);
	letter-spacing: 2px;
	cursor: default;
}

#all-tasks {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	width: 100%;
	height: 75%;
	background-color: #ffffff;
	overflow-y: auto;
}

.task {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	border-bottom: 1px dashed darkblue;
}

.check, .trash {
	max-width: 17px;
	cursor: pointer;
}

.task p {
	width: 70%;
	font-size: 3vh;
	cursor: default;
	margin: 10px 0px;
}

.line-through {
	text-decoration: line-through;
	color: #888888;
}

#new-task {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
	height: 10%;
	background-color: #6785a3;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}

#text-task {
	display: inline-block;
	width: 80%;
	height: 80%;
	border-radius: 20px;
	padding: 0px 10px;
	box-sizing: border-box;
	font-size: 3vh;
	outline: none;
	background-color: #6785a3;
	border: 2px solid #ffffff;
	color: #ffffff;
}

#text-task::placeholder {
	color: #e6e6e6;
}

#button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 4.5vh;
	height: 4.5vh;
	font-size: 4.5vh;
	font-weight: bold;
	background-color: #ffffff;
	border: 1px solid #ffffff;
	border-radius: 50%;
	cursor: pointer;
}